*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
*/dataset/*
.vscode
__pycache__
tmp
*/build/intermediates/*
*/build/generated/*
*/build/kotlin/*